/* LOADER STYLE RULES */

.loader-div {
  margin: 0 auto; /* Common */
  justify-content: center; /* Common */
  align-items: center; /* Common */
  width: 1000px;
  height: 500px;
}
.loader-div > div {
  justify-content: center; /* Common */
  align-items: center; /* Common */
  width: 500px;
  height: 300px;
}
.loader-div img {
  object-fit: contain; /* Common */
  width: 500px;
  height: 300px;
}

@media (max-width: 992px) {
  .loader-div {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .loader-div {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .loader-div {
    width: 350px;
  }
}
