/* PAGINATION COMPONENT STYLE RULES */

/* COMMON STYLE RULES OR MORE THAN 992 PX WIDTH */
.pagination-comp {
  position: sticky; /* Common */
  background-color: white; /* Common */
  align-items: center; /* Common */
  top: 100px;
  padding: 20px;
  margin-bottom: 20px;
}
.pagination-comp .buttons-div > * {
  width: 50px;
}
.pagination-comp button {
  width: 100%; /* Common */
  background-color: white; /* Common */
  border: 1px solid black; /* Common */
  border-radius: 50%; /* Common */
  padding: 10px 0;
}
.pagination-comp .icon {
  font-size: 24px;
}
.pagination-comp p {
  text-align: center; /* Common */
  line-height: 42px;
  font-size: 22px;
}

/* Page title (h1) */
.pagination-comp .title-div {
  flex: 1; /* Common */
  padding-left: 25%;
}
.pagination-comp h1 {
  padding-top: 15px; /* Common */
  padding-bottom: 20px; /* Common */
  font-size: 28px;
}
.pagination-comp h1 > span {
  font-weight: bold;
  border-bottom: 1px solid grey; /* Common */
  padding-bottom: 15px;
}

/* LESS THAN 992 PX WIDTH */
@media (max-width: 992px) {
  .pagination-comp {
    top: 90px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .pagination-comp button {
    padding: 10px 0;
  }
  .pagination-comp .icon {
    font-size: 20px;
  }
  .pagination-comp p {
    font-size: 18px;
    line-height: 38px;
  }
  /* Page title (h1) */
  .pagination-comp .title-div {
    padding-left: 10%;
  }
  .pagination-comp h1 {
    font-size: 24px;
  }
  .pagination-comp h1 > span {
    padding-bottom: 10px;
  }
}

/* LESS THAN 768 PX WIDTH */
@media (max-width: 768px) {
  .pagination-comp {
    top: 60px;
    padding: 5px;
    margin-bottom: 5px;
  }
  .pagination-comp .buttons-div > * {
    width: 35px;
  }
  .pagination-comp button {
    padding: 6px 0;
  }
  .pagination-comp .icon {
    font-size: 18px;
  }
  .pagination-comp p {
    font-size: 16px;
    line-height: 30px;
  }
  /* Page title (h1) */
  .pagination-comp h1 {
    font-size: 20px;
  }
  .pagination-comp h1 > span {
    padding-bottom: 5px;
  }
}
