/* THUMBNAIL COMPONENT STYLE RULES */

/* COMMON STYLE OR MORE THAN 992 PX WIDTH */
.thumbnail {
  align-items: center; /* Common */
  background-color: #fafafa; /* Common */
  border-bottom: 1px solid grey; /* Common */
  border-left: 1px solid grey; /* Common */
  border-radius: 5px; /* Common */
  width: 330px;
  min-height: 300px;
  padding: 25px 10px;
  gap: 30px;
}
.thumbnail h2 {
  text-align: center; /* Common */
  font-weight: bold; /* Common */
  font-size: 22px;
}
.thumbnail-flag {
  object-fit: contain; /* Common */
  width: 170px;
  border: 1px solid #e9ecf0;
}
.thumbnail > div {
  font-size: 19px;
}
.thumbnail > div:first-of-type {
  gap: 10px; /* Common */
}
.thumbnail > div:first-of-type p {
  gap: 5px; /* Common */
}
/* Hover */
.thumbnail-flag:hover {
  opacity: 0.6;
}

/* LESS THAN 992 PX WIDTH */
@media (max-width: 992px) {
  .thumbnail {
    width: 315px;
    min-height: 270px;
    padding: 20px 15px;
    gap: 25px;
  }
  .thumbnail-flag {
    width: 150px;
  }
  .thumbnail h2 {
    font-size: 20px;
  }
  .thumbnail > div {
    font-size: 18px;
  }
}

/* LESS THAN 768 PX WIDTH */
@media (max-width: 768px) {
  .thumbnail {
    width: 300px;
    min-height: 230px;
    padding: 15px 10px;
    gap: 20px;
  }
  .thumbnail-flag {
    width: 130px;
  }
  .thumbnail h2 {
    font-size: 18px;
  }
  .thumbnail > div {
    font-size: 16px;
  }
}
