/* SEARCH COMPONENT STYLE RULES */

/* COMMON STYLE OR MORE THAN 992 PX WIDTH */
.search-comp {
  flex-wrap: wrap; /* Common */
  border-bottom: 1px solid grey; /* Common */
  justify-content: center; /* Common */
  align-items: center; /* Common */
  padding: 20px 20px 30px 20px;
  gap: 15px;
}

/* Form */
.search-comp .name-search-form {
  justify-content: space-between; /* Common */
}
.search-comp .name-search-form input,
.search-comp .name-search-form button {
  height: 40px; /* Common */
  font-size: 16px;
  color: #807f7f;
  border: 1px solid #b3b3b3;
  border-radius: 5px; /* Common */
}
.search-comp .name-search-form input {
  padding-left: 10px; /* Common */
}
.search-comp .name-search-form button {
  background-color: white; /* Common */
  padding: 0; /* Common */
  width: 30%;
}
.search-comp input {
  width: 70%;
}
/* Hover */
.search-comp .name-search-form button:hover {
  background-color: #807f7f;
  border: #807f7f;
  color: white;
}
/*  */

/* MORE THAN 992 PX WIDTH (SELECT) */
@media (min-width: 992px) {
  .search-comp > * {
    width: 30%;
  }
}

/* LESS THAN 992 PX WIDTH */
@media (max-width: 992px) {
  .search-comp {
    padding: 20px;
  }
}

/* BETWEEN 768 & 992 PX WIDTH (SELECT) */
@media (min-width: 768px) and (max-width: 992px) {
  /* Select & form */
  .search-comp > *,
  .search-comp .name-search-form {
    width: 30%;
  }
}

/* LESS THAN 768 PX WIDTH */
@media (max-width: 768px) {
  .search-comp {
    padding: 10px;
    gap: 10px;
  }
  .search-comp > * {
    width: 48%;
  }
  .search-comp > *,
  .search-comp .name-search-form input,
  .search-comp .name-search-form button {
    font-size: 15px;
  }
  .search-comp .name-search-form input {
    width: 75%;
  }
  .search-comp .name-search-form button {
    width: 25%;
    padding: 0;
    text-align: center;
  }
}

/* LESS THAN 576 PX WIDTH */
@media (max-width: 576px) {
  .search-comp {
    gap: 5px;
  }
  .search-comp > *,
  .search-comp .name-search-form {
    width: 45%;
    height: 50px;
  }
  .search-comp .name-search-form input {
    width: 70%;
  }
  .search-comp .name-search-form button {
    width: 30%;
  }
  .search-comp > *,
  .search-comp .name-search-form input,
  .search-comp .name-search-form button {
    font-size: 12px;
  }
}
