.search-comp {
  padding: 20px 20px 30px 20px;
  border-bottom: 1px solid black;
  align-items: center;
  gap: 15px;
}
.search-comp .sort-select {
  width: 300px;
  padding: 5px;
  font-size: 18px;
}

.search-comp .sort-select div {
  gap: 10px;
}
.search-comp p {
  font-size: 18px;
}
