/* SORTED COUNTRIES PAGE: STYLE RULES */

/* COMMON RULES OR MORE THAN 768 PX WIDTH */
/* Thumbnails */
.sorted-page .sorted-thumbnails {
  justify-content: center; /* Common */
  flex-wrap: wrap; /* Common */
  gap: 10px;
}

/* LESS THAN 768 PX WIDTH */
@media (max-width: 768px) {
  .sorted-page .sorted-thumbnails {
    gap: 5px;
  }
}
