/* COUNTRY PAGE STYLE RULES: STYLE RULES FOR LESS THAN 992 PX WIDTH (& POSSIBLY MORE THAN 768 PX) */

@media (max-width: 992px) {
  .country-page {
    font-size: 18px;
    gap: 20px;
  }

  /* Direct children of country page, except the first one (.head-div) */
  .country-page > *:not(.head-div) {
    padding: 10px 0 0 0;
  }

  /* HEAD DIV : back button + country name */
  .country-page .head-div {
    top: 85px;
    padding: 20px 0 5px 0;
  }
  /* Back button */
  .country-page .back-btn-div {
    width: 60px;
    margin-left: 30px;
  }
  .country-page button {
    padding: 12px 18px;
  }
  .country-page .icon {
    font-size: 20px;
  }
  /* Country name */
  .country-page h1 {
    font-size: 24px;
    padding: 10px 0 30px 0;
    gap: 20px;
  }
  .country-page .head-div > div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 22px;
  }

  /* INFO DIV : capital & its name, population & its number ... */
  /* Title: capital, population, ... */
  .country-page .info-div > div:first-of-type {
    width: 180px;
    padding: 10px 10px 15px 10px;
  }
  /* Content: capital name, languages names, ... */
  .country-page .info-div > div:nth-of-type(2) {
    padding: 10px 10px 15px 10px;
  }

  /* FLAG DIV */
  .country-page .flag-div > div:first-of-type {
    padding: 20px 20px 30px 20px;
  }
  .country-page .flag-div img {
    width: 350px;
  }
  .country-page .flag-div > div:nth-of-type(2) {
    width: 90%;
    line-height: 22px;
    padding-bottom: 20px;
  }

  /* COAT OF ARMS DIV */
  .country-page .coat-of-arms {
    margin-left: 15%;
    width: 220px;
    height: 220px;
  }
}
