/* COUNTRY PAGE STYLE RULES : COMMON STYLE OR MORE THAN 992 PX WIDTH */

.country-page {
  gap: 20px;
  font-size: 18px;
}
/* Direct children of country page, except the first one (.head-div) */
.country-page > *:not(.head-div) {
  border-left: 1px solid grey; /* Common */
  border-bottom: 1px solid grey; /* Common */
  border-radius: 10px; /* Common */
  padding: 20px 0 0 0;
}

/* HEAD DIV : back button + country name */
.country-page .head-div {
  position: sticky; /* Common */
  background-color: white; /* Common */
  border-bottom: 1px solid grey; /* Common */
  top: 90px;
  padding: 20px 0 10px 0;
}
/* Back button */
.country-page .back-btn-div {
  align-items: center; /* Common */
  justify-content: space-between; /* Common */
  width: 120px;
  padding: 0 10px;
}
.country-page button {
  background-color: white; /* Common */
  border: 1px solid black; /* Common */
  border-radius: 50%; /* Common */
  padding: 10px 15px;
  font-size: 16px;
}
.country-page .icon {
  font-size: 24px;
}
/* Country name */
.country-page .head-div > div:nth-of-type(2) {
  flex: 1; /* Common */
}
.country-page h1 {
  text-align: center; /* Common */
  font-weight: bold; /* Common */
  font-size: 28px;
  padding: 10px 0 30px 0;
  gap: 20px;
}

/* NATIVE NAME(S) DIV */
.country-page .native-name-lang {
  width: 170px;
}

/* INFO DIV : capital & its name, population & its number ... */
.country-page .info-div {
  justify-content: center; /* Common */
  margin-bottom: 10px;
  gap: 10px;
}
/* Title: capital, population, ... */
.country-page .info-div > div:first-of-type {
  width: 200px;
  padding: 10px 10px 20px 10px;
}
/* Each .info-div title (ex: "Capital", "Population") is bottom bordered,
except the last title (ex: "Language", "Borders") of the parent div */
.country-page div > .info-div:not(:last-child) > div:first-of-type {
  border-bottom: 1px dotted grey; /* Common */
}
/* Content: capital name, languages names, ... */
.country-page .info-div > div:nth-of-type(2) {
  width: 500px;
  padding: 10px 10px 20px 10px;
  /* If several elements */
  gap: 5px; /* Common */
}

/* FLAG DIV */
.country-page .flag-div {
  background-color: #fafafa; /* Common */
  padding-bottom: 30px;
}
.country-page .flag-div > div:first-of-type {
  margin: 0 auto; /* Common */
  padding: 40px;
}
.country-page .flag-div img {
  object-fit: contain; /* Common */
  border: 1px solid #e9ecf0; /* Common */
  width: 400px;
}
.country-page .flag-div > div:nth-of-type(2) {
  margin: 0 auto; /* Common */
  text-align: center; /* Common */
  width: 900px;
  line-height: 24px;
}

/* COAT OF ARMS DIV */
.country-page .coat-of-arms {
  object-fit: contain; /* Common */
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
