.country-page {
  gap: 20px;
  font-size: 18px;
}
.country-page > * {
  border-left: 1px dotted grey;
  border-bottom: 1px dotted grey;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 20px 0 0 0;
}
.country-page .back-btn-div {
  background-color: white;
  border: none;
}

/* Back button */
.country-page .back-btn-div {
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.country-page button {
  background-color: white;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 16px;
}
.country-page .icon {
  font-size: 24px;
}

/* H1 */
.country-page h1 {
  font-size: 28px;
  text-align: center;
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  gap: 20px;
  border-bottom: 1px solid grey;
}

/* Native name(s) */
.country-page .native-name-lang {
  width: 170px;
}

/* Info div: capital & its name, population & its number ... */
.country-page .info-div {
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}
/* Title: capital, population, ... */
.country-page .info-div > div:first-of-type {
  width: 200px;
  padding: 10px 10px 20px 10px;
}
/* Each .info-div title (ex: "Capital", "Population") is bottom bordered,
except the last title (ex: "Language", "Borders") of the parent div */
.country-page div > .info-div:not(:last-child) > div:first-of-type {
  border-bottom: 1px solid grey;
}
/* Content: capital name, languages names, ... */
.country-page .info-div > div:nth-of-type(2) {
  width: 500px;
  padding: 10px 10px 20px 10px;
  /* If several elements */
  gap: 5px;
}

/* Flag div */
.country-page .flag-div {
  padding-bottom: 30px;
}
.country-page .flag-div > div:first-of-type {
  margin: 0 auto;
  padding: 40px;
}
.country-page .flag-div img {
  width: 400px;
  object-fit: contain;
  border: 1px solid #e9ecf0;
}
.country-page .flag-div > div:nth-of-type(2) {
  width: 900px;
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}

/* Coat of arms div */
/* .country-page .arms-div img { */
.country-page .arms-div > div:nth-of-type(2) {
  border: 1px solid black;
}
.country-page .coat-of-arms {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 1px solid blue;
}
