/* COMMON STYLE OR MORE THAN 992 PX WIDTH */

header {
  position: sticky; /* Common */
  top: 0; /* Common */
  background-color: white; /* Common */
  z-index: 1; /* Common */
  align-items: center; /* Common */
  border-bottom: 1px solid grey; /* Common */
  padding: 30px 30px 40px 40px;
  margin-bottom: 20px;
}
/* Button with icon */
header button {
  background-color: white; /* Common */
  border: 1px solid black; /* Common */
  border-radius: 50%; /* Common */
  padding: 10px;
  margin: 0 50px;
}
header .icon {
  font-size: 28px;
}
/* Title div */
header div:nth-of-type(2) {
  width: 80%; /* Common */
  justify-content: center;
}
header div:nth-of-type(2) p {
  font-size: 52px;
}

/* LESS THAN 992 PX WIDTH */
@media (max-width: 992px) {
  header {
    margin-bottom: 10px;
  }
}

/* BETWEEN 768 & 992 PX WIDTH */
@media (min-width: 768px) and (max-width: 992px) {
  header {
    padding: 30px 20px;
  }
  /* Icon */
  header .icon {
    font-size: 24px;
  }
  /* Title div */
  header div:nth-of-type(2) {
    padding-left: 20%;
    justify-content: left;
  }

  header div:nth-of-type(2) p {
    font-size: 48px;
  }
}

/* LESS THAN 768 PX WIDTH */
@media (max-width: 768px) {
  header {
    padding: 15px;
  }
  /* Button with icon */
  header button {
    padding: 8px;
    margin: 0 20px;
  }
  header .icon {
    font-size: 20px;
  }
  /* Title div */
  header div:nth-of-type(2) p {
    font-size: 40px;
  }
}
