@import "./reset.css";
@import "./components/Thumbnail/ThumbnailComponent.css";
@import "./pages/CountryPage/CountryPage.css";
a {
  text-decoration: none;
  color: black;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
