/* STYLE RULES */

@import "./reset.css";
@import "./components/Header/Header.css";
@import "./components/Loader/Loader.css";
@import "./components/SearchComponent/SearchComponent.css";
@import "./pages/SortedCountries/SortedCountries.css";
@import "./components/PaginationComponent/PaginationComponent.css";
@import "./components/Thumbnail/ThumbnailComponent.css";
@import "./pages/CountryPage/CountryPage.css";
@import "./pages/CountryPage/CountryPage-lt992.css";
@import "./pages/CountryPage/CountryPage-lt768.css";
@import "./components/Footer/Footer.css";

/* COMMON STYLE RULES */
body,
button,
input {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
/* CONTAINER */
@media (max-width: 1200px) {
  .container {
    width: 980px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
